*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: $primary-color;
    display: grid;
    grid-template-areas: "sidemenu content";
    grid-template-columns: 306px auto;
    position: relative;
}

.sidemenu {
    grid-area: sidemenu;
    padding: 0 44px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: transform .3s;

    &.show {
        transform: translateX(0);
    }
}

.content {
    grid-area: content;
    padding: 0 71px;
    overflow: auto;
    position: relative;
}

.sidemenu, .content {
    padding-top: 41px;
    min-height: 100vh;
    max-height: 100vh;
}

.user {
    padding-top: 30px;
    margin-top: auto;
    margin-bottom: 76px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 68px;
    
    &-title {
        margin-left: 11px;
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;
        color: $color-dark;
    }

    &-label {
        margin-left: 4px;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: $color1;
    }
}

.nav {
    &-item {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 31px;
        border-radius: 8px;
        padding: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        & .arrow svg {
            transition: transform .3s;
        }

        &.active {
            background: $color-blue;

            & .nav-link {
                color: $color-white;
            }

            & svg .fill-stroke {
                stroke: $color-white;
            }

            & svg .fill {
                fill: $color-white;
            }

            & .arrow svg {
                transform: rotate(91deg);
            }

            & .arrow svg .fill-stroke {
                stroke: $color-white;
            }

            .dropdown {
                &-menu {
                    display: flex;
                }

                &-link {
                    color: $color-white;
                    padding: 10px 40px;
                }
            }
        }
    }

    &-link {
        margin-left: 14px;
        color: $color2;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
}

.user {
    display: inline-flex;

    &-img {
        object-fit: contain;
    }

    &-content {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }

    &-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }

    &-role {
        font-size: 12px;
        line-height: 18px;
        color: $color3;
    }
}

.arrow {
    margin-left: auto;
}

.dropdown {
    &-menu {
        flex-basis: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    &-item {
        list-style: none;
    }

    &-link {
        color: $color2;
        text-decoration: none;
    }
}

.welcome {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 51px;
}

.table {
    background: $color-white;
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 30px;
    overflow: auto;
    position: relative;

    &-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
    }

    &-subtitle {
        color: $color4;
        font-size: 14px;
        line-height: 21px;
    }
}

.sorting {
    color: $color5;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 14px;
}

table.dataTable thead th, table.dataTable thead td {
    border-color: $color6;
}

.dataTables_filter label {
    position: relative;
}

.dataTables_filter label input[type=search] {
    background-image: url(assets/images/search.png);
    background-color: $color7;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 12px 0 11px 47px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.dataTables_filter label input[type=search]:focus {
    outline: none;
}

.dataTables_filter label input[type=search]::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: $color5;
    font-size: 12px;
    line-height: 18px;
}

table.dataTable.no-footer {
    border-bottom: none;
}

tbody td {
    border-bottom: 1px solid $color6;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 24px 0;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    padding-top: 32px;
}

.td {
    &-active {
        background: $color8;
        padding: 4px 18px;
        border: 1px solid $border1;
        font-family: "Poppins", sans-serif;
        color: $color9;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        border-radius: 4px;
        width: 100%;
        transition: opacity .3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &-inactive {
        padding: 4px 12px;
        background: $color10;
        border: 1px solid $border2;
        width: 100%;
        color: $border2;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        border-radius: 4px;
        font-size: 14px;
        line-height: 21px;
        transition: opacity .3s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 6px 10px;
    background: $color11;
    border-radius: 4px;
    margin-right: 12px;
    color: $color12 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: red;
    border-color: red;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: $color-blue;
    color: $color-white !important;
    border-color: $color-blue;
}

.toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    display: none;
    z-index: 110;

    &-icon {
        width: 30px;
        background: $color-dark;
        height: 2px;
        display: block;
        position: relative;

        &:before {
            content: "";
            width: 30px;
            background: $color-dark;
            height: 2px;
            position: absolute;
            top: 8px;
            transition: transform .3s;
        }

        &:after {
            content: "";
            width: 30px;
            background: $color-dark;
            height: 2px;
            position: absolute;
            bottom: 8px;
            transition: transform .3s;
        }
    }

    &-icon.show {
        background: transparent;

        &:before {
            transform: rotate(45deg);
            top: 0;
        }

        &:after {
            transform: rotate(-45deg);
            bottom: 0;
        }
    }
}