$primary-color: #FAFBFF;
$color-white: #fff;
$color-dark: #000;
$color-blue: #5932EA;
$color1: #838383;
$color2: #9197B3;
$color3: #757575;
$color4: #16C098;
$color5: #B5B7C0;
$color6: #EEEEEE;
$color7: #F9FBFF;
$color8: #16C09861;
$color9: #008767;
$color10: #FFC5C5;
$color11: #F5F5F5;
$color12: #404B52;
$border1: #00B087;
$border2: #DF0404;