@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #FAFBFF;
  display: grid;
  grid-template-areas: "sidemenu content";
  grid-template-columns: 306px auto;
  position: relative;
}

.sidemenu {
  grid-area: sidemenu;
  padding: 0 44px;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: transform 0.3s;
}
.sidemenu.show {
  transform: translateX(0);
}

.content {
  grid-area: content;
  padding: 0 71px;
  overflow: auto;
  position: relative;
}

.sidemenu, .content {
  padding-top: 41px;
  min-height: 100vh;
  max-height: 100vh;
}

.user {
  padding-top: 30px;
  margin-top: auto;
  margin-bottom: 76px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 68px;
}
.logo-title {
  margin-left: 11px;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #000;
}
.logo-label {
  margin-left: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #838383;
}

.nav-item {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 31px;
  border-radius: 8px;
  padding: 12px;
}
.nav-item:last-child {
  margin-bottom: 0;
}
.nav-item .arrow svg {
  transition: transform 0.3s;
}
.nav-item.active {
  background: #5932EA;
}
.nav-item.active .nav-link {
  color: #fff;
}
.nav-item.active svg .fill-stroke {
  stroke: #fff;
}
.nav-item.active svg .fill {
  fill: #fff;
}
.nav-item.active .arrow svg {
  transform: rotate(91deg);
}
.nav-item.active .arrow svg .fill-stroke {
  stroke: #fff;
}
.nav-item.active .dropdown-menu {
  display: flex;
}
.nav-item.active .dropdown-link {
  color: #fff;
}
.nav-link {
  margin-left: 14px;
  color: #9197B3;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.user {
  display: inline-flex;
}
.user-img {
  object-fit: contain;
}
.user-content {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.user-role {
  font-size: 12px;
  line-height: 18px;
  color: #757575;
}

.arrow {
  margin-left: auto;
}

.dropdown-menu {
  flex-basis: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}
.dropdown-item {
  list-style: none;
}
.dropdown-link {
  color: #9197B3;
  text-decoration: none;
}

.welcome {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 51px;
}

.table {
  background: #fff;
  border-radius: 30px;
  padding: 40px;
  margin-bottom: 30px;
  overflow: auto;
  position: relative;
}
.table-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.table-subtitle {
  color: #16C098;
  font-size: 14px;
  line-height: 21px;
}

.sorting {
  color: #B5B7C0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 14px;
}

table.dataTable thead th, table.dataTable thead td {
  border-color: #EEEEEE;
}

.dataTables_filter label {
  position: relative;
}

.dataTables_filter label input[type=search] {
  background-image: url(assets/images/search.png);
  background-color: #F9FBFF;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding: 12px 0 11px 47px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.dataTables_filter label input[type=search]:focus {
  outline: none;
}

.dataTables_filter label input[type=search]::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #B5B7C0;
  font-size: 12px;
  line-height: 18px;
}

table.dataTable.no-footer {
  border-bottom: none;
}

tbody td {
  border-bottom: 1px solid #EEEEEE;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 24px 0;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
  padding-top: 32px;
}

.td-active {
  background: rgba(22, 192, 152, 0.3803921569);
  padding: 4px 18px;
  border: 1px solid #00B087;
  font-family: "Poppins", sans-serif;
  color: #008767;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-radius: 4px;
  width: 100%;
}
.td-inactive {
  padding: 4px 12px;
  background: #FFC5C5;
  border: 1px solid #DF0404;
  width: 100%;
  color: #DF0404;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 6px 10px;
  background: #F5F5F5;
  border-radius: 4px;
  margin-right: 12px;
  color: #404B52 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: red;
  border-color: red;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #5932EA;
  color: #fff !important;
  border-color: #5932EA;
}

.toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  display: none;
  z-index: 110;
}
.toggler-icon {
  width: 30px;
  background: #000;
  height: 2px;
  display: block;
  position: relative;
}
.toggler-icon:before {
  content: "";
  width: 30px;
  background: #000;
  height: 2px;
  position: absolute;
  top: 8px;
  transition: transform 0.3s;
}
.toggler-icon:after {
  content: "";
  width: 30px;
  background: #000;
  height: 2px;
  position: absolute;
  bottom: 8px;
  transition: transform 0.3s;
}
.toggler-icon.show {
  background: transparent;
}
.toggler-icon.show:before {
  transform: rotate(45deg);
  top: 0;
}
.toggler-icon.show:after {
  transform: rotate(-45deg);
  bottom: 0;
}

@media (max-width: 1200px) {
  body {
    grid-template-columns: 0 auto;
  }
  .sidemenu {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .toggler {
    display: block;
  }
  .content {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .table {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */
